### Songchai Duangpan ID : 6136896

In [1]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cosine

In [2]:
df = pd.read_csv("Data06-Oct.csv")
df

    O   U1   U2  U3   U4  U5   U6  U7   U8
0  O1  3.5  2.0   5  3.0   0  0.0   5  3.0
1  O2  2.0  3.5   1  4.0   4  4.5   2  0.0
2  O3  0.0  4.0   1  4.5   1  4.0   0  0.0
3  O4  4.5  0.0   3  0.0   4  5.0   3  5.0
4  O5  5.0  2.0   5  3.0   0  5.0   5  4.0
5  O6  1.5  3.5   1  4.5   0  4.5   4  2.5
6  O7  2.5  0.0   0  4.0   4  4.0   5  3.0
7  O8  2.0  3.0   0  2.0   1  4.0   0  0.0

In [3]:
#ตัด column O ออก เพราะจะทำ user-based collaborative filtering
user = df.drop('O',1)

In [5]:
user

    U1   U2  U3   U4  U5   U6  U7   U8
0  3.5  2.0   5  3.0   0  0.0   5  3.0
1  2.0  3.5   1  4.0   4  4.5   2  0.0
2  0.0  4.0   1  4.5   1  4.0   0  0.0
3  4.5  0.0   3  0.0   4  5.0   3  5.0
4  5.0  2.0   5  3.0   0  5.0   5  4.0
5  1.5  3.5   1  4.5   0  4.5   4  2.5
6  2.5  0.0   0  4.0   4  4.0   5  3.0
7  2.0  3.0   0  2.0   1  4.0   0  0.0

In [17]:
data_ibs = pd.DataFrame(index=user.columns,columns=user.columns)
data_ibs

     U1   U2   U3   U4   U5   U6   U7   U8
U1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
U2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
U3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
U4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
U5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
U6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
U7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
U8  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

## Cosine of vector

\begin{equation}
cos(V_A, V_B) = \frac{\sum_{}{A_i, B_i}}{\sqrt{\sum_{}{A_i ^ 2}}\sqrt{\sum_{}{B_i ^ 2}}} \\
When \; A_i \text{is i-th member of}\; V_A\; and \; B_i \text{is i-th member of}\; V_B
\end{equation}

In [20]:
#คำนวนหาค่า cosine similarity
for i in range (0, len(data_ibs.columns)):
    for j in range (0, len(data_ibs.columns)):
        data_ibs.iloc[i,j] = 1-cosine(user.iloc[:,i],user.iloc[:,j])

In [21]:
data_ibs

,U1,U2,U3,U4,U5,U6,U7,U8
U1,1,0.540393,0.878426,0.648736,0.624716,0.802569,0.894823,0.924628
U2,0.540393,1,0.519197,0.891961,0.391652,0.7788,0.530192,0.371413
U3,0.878426,0.519197,1,0.561768,0.305329,0.571946,0.80947,0.825417
U4,0.648736,0.891961,0.561768,1,0.560093,0.832577,0.766622,0.563517
U5,0.624716,0.391652,0.305329,0.560093,1,0.745044,0.5547,0.560241
U6,0.802569,0.7788,0.571946,0.832577,0.745044,1,0.724899,0.717939
U7,0.894823,0.530192,0.80947,0.766622,0.5547,0.724899,1,0.910446
U8,0.924628,0.371413,0.825417,0.563517,0.560241,0.717939,0.910446,1

In [30]:
data_ibs['U1'].sort_values(ascending=False)

U1           1
U8    0.924628
U7    0.894823
U3    0.878426
U6    0.802569
U4    0.648736
U5    0.624716
U2    0.540393
Name: U1, dtype: object